.gateway-card {
  width: 100%;
  background: #ffffff;
  border-radius: 25px;
  max-height: 425px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__container {
    width: 100%;
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    width: 65px;
    height: 65px;
    background: rgba(235, 32, 39, 0.15);
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      color: var(--app-primary-color);
      width: 35px;
      height: 35px;
      font-size: 35px;
      margin: 0;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;

    h4 {
      font-size: 22px;
      overflow-wrap: anywhere;
      font-weight: 500;
      color: #000000;
      margin-bottom: 15px !important;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #8f9398;
    }
  }

  &__info {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px dashed var(--app-border-color);
    border-radius: 10px;
    margin-bottom: 15px;

    p {
      font-size: 17px;
      font-weight: 500;
      color: #333333;
    }
  }

  &__devices {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;

    h3 {
      font-size: 25px;
      font-weight: 500;
      color: #000000;
      margin-bottom: 10px !important;
    }

    h4 {
      font-size: 22px;
      font-weight: 500;
      color: #000000;
      margin-bottom: 5px !important;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      color: #8f9398;
    }
  }

  &__button {
    margin-top: auto;
    width: 100%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--app-primary-color);
    cursor: pointer;

    p {
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
