.status-switch {
  .mat-slide-toggle {
    &-bar {
      order: 2;
      width: 45px;
      height: 25px;
      flex-shrink: 0;
      border-radius: 15px;
      background-color: rgba(235, 32, 39, 0.15);
    }

    &-content {
      order: 1;
      padding-right: 10px;
      font-size: 16px;
      font-weight: 500;
      color: #8f9398;
    }

    &-thumb {
      background-color: rgba(235, 32, 39, 1);

      &-container {
        top: 2px;
        left: 3px;
      }
    }
  }

  &.mat-slide-toggle.mat-checked {
    .mat-slide-toggle-bar {
      background-color: rgba(32, 235, 39, 0.15);
    }

    .mat-slide-toggle-thumb {
      background-color: rgba(32, 235, 39, 1);
    }
  }
}
