<div class="page-top-header mat-elevation-z1">
  <div class="container">
    <div class="page-top-header__content-container">
      <div class="page-top-header__content">
        <div class="page-top-header__content-icon">
          <mat-icon>hub</mat-icon>
        </div>
        <div class="page-top-header__content-title">
          <h3>Gateway Manager</h3>
          <p>{{gateways}} gateways added, want to add more?</p>
        </div>
      </div>
      <div class="page-top-header__actions">
        <button class="btn btn-custom-primary" (click)="onAdd()">
          <mat-icon>add</mat-icon> Add Gateway</button>
      </div>
    </div>
  </div>
</div>
