.add-gateway {
  &__form-container {
    padding: 0 25px;
  }

  &__form-element{
    margin-top: 15px;

    &:first-child{
      margin-top: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 15px 25px;
    background-color: #f8fafc;

    button:first-of-type {
      margin-right: 20px;
    }

    button:last-of-type {
      padding: 12px 33px !important;
    }
  }

  .label {
    font-weight: 500 !important;
    font-size: 18px !important;
    margin-bottom: 10px;
  }
}
